@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 1%;
	padding-right: 1%;
}
#Question {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size: 10px;
}
#Paragraph {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;	
}
#empty {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size: 12px;
	padding-bottom:2%;
}
.griditem {
	text-align: left;
	width: 30%;
	font-size: 9px;
	}
.griditema {
	vertical-align:middle;
	text-align: left;
	width: 40%;
	font-size: 9px;
	}
.griditem1 {
	text-align: center;
	width: 30%;
	font-size: 9px;
	}
.griditem2 {
	text-align: center;
	width: 7%;
	font-size: 9px;
	}
.griditem2a {
	text-align: center;
	width: 10%;
	font-size: 9px;
	}
.griditem2b {
	text-align: center;
	width: 15%;
	font-size: 9px;
	}
.griditem3 {
	text-align: center;
	width: 16%;
	font-size: 9px;
	}
.griditem3a {
	text-align: center;
	width: 15%;
	font-size: 9px;
	}
.griditem3b {
	text-align: center;
	width: 10%;
	font-size: 9px;
	}
.griditem4 {
	text-align: center;
	width: 9%;
	font-size: 9px;
}
.griditem5 {
	text-align: center;
	width: 7%;
	font-size: 9px;
}
.griditem6{
	text-align: center;
	width: 7%;
	font-size: 9px;
	}
.picture1 {
	width:22.5%;
	height:140px;
	margin: 0px 0px 0px 31%;
	}
.picture2 {
	width:22.5%;
	height:140px;
	margin: 0px 0px 0px 0.5%;
}
.picture4 {
	width:15%;
	height:100px;
	margin: 0px 0px 0px 44%;
	}
.picture5 {
	width:14%;
	height:100px;
	margin: 0px 0px 0px 0.3%;
}
.picture7{
	 width:100%;	
	 height:70px;  
	 margin: 0px 0px -80px 0%;
}
.picture8{
	 width:100%;
	 height:70px; 	 
	 margin: 0px 0px -210px 0%;
}
.picture9{
	 width:100%;
	 height:70px; 	 
	 margin: 0px 0px -330px 0%;
}
.picture10{
	 width:45%;	
	 height:189px; 
	 margin: 0px 0px 0px 1%;
}
.picture11{
	 width:49%;	
	 height:120px; 
	 margin: 70px 0px 0px 1%;
}
.cent {
	text-align: center;
	vertical-align: top;
	}
.cent1 {
	text-align: center;
	vertical-align: top;
	}
.cent2 {
	text-align: left;
	vertical-align: top;
	width: 9%;
	}
.size{
	width: 9%;
	font-size: 9px;
}
.text{
	width: 20%;
	text-align: left;
	font-size: 9px;

}
.text1{
	font-size: 9px;
}
.text2{
	font-size: 25px;
}
.text3{
	padding-top: 1%;
	padding-bottom: 2%;
	font-size: 10px;
}
.slider.slider-horizontal {
  width: 40%;
  height: 20px;
}
#clip2 {
  position: relative;
  width:54%;
  height:189px;
}
#clip3 {
  position: relative;
  width:50%;
  height:192px;
}
.image-container{
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
}
.picture-bottom{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	max-height:99%
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#Question {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size: 12px;
}
#Paragraph {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#empty {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size: 15px;
	padding-bottom:2%;
}
.griditem {
	text-align: left;
	width: 30%;
	font-size: 11px;
	}
.griditema {
	text-align: left;
	width: 50%;
	font-size: 11px;
	padding-top: 0.5%;
	}
.griditem1 {
	text-align: center;
	width: 30%;
	font-size: 11px;
	}
.griditem2 {
	text-align: center;
	width: 7%;
	font-size: 11px;
	}
.griditem2b {
	text-align: center;
	width: 15%;
	font-size: 11px;
	}
.griditem3 {
	text-align: center;
	width: 20%;
	font-size: 11px;
	}
.griditem3a{
	text-align: center;
	width: 15%;
	font-size: 11px;
	}
.griditem3b{
	text-align: center;
	width: 10%;
	font-size: 11px;
	}
.griditem4 {
	text-align: center;
	width: 12%;
	font-size: 11px;
}
.griditem5 {
	text-align: center;
	width: 8%;
	font-size: 11px;
}
.griditem6 {
	text-align: center;
	width: 8%;
	font-size: 11px;
}
.picture1 {
	width:22%;
	height:180px;
	margin: 0px 0px 0px 32.5%;
	}
.picture2 {
	width:22%;
	height:180px;
	margin: 0px 0px 0px 0.5%;
}
.picture4 {
	width:15.5%;
	height:140px;
	margin: 0px 0px 0px 42.5%;
	}
.picture5 {
	width:15.5%;
	height:140px;
	margin: 0px 0px 0px 0.2%;
}
.picture7{
	 width:100%;	
	 height:80px; 
	 margin: 0px 0px -80px 0%;
}
.picture8{
	 width:100%;	
	 height:80px; 
	 margin: 0px 0px -220px 0%;
}
.cent {
	text-align: center;
	vertical-align: top;
	}
.cent1 {
	text-align: center;
	vertical-align: top;
	}
.picture9{
	 width:100%;	
	 height:80px; 
	 margin: 0px 0px -360px 0%;
}
.picture10{
	 width:44%;	
	 height:203px; 
	 margin: 0px 0px 0px 1%;
}
.picture11{
	 width:49%;	
	 height:164px; 
	 margin: 28px 0px 0px 1%;
}
.text{
	width: 20%;
	text-align: left;
	font-size: 11px;
}
.text1{
	font-size: 11px;
}
.text2{
	font-size: 22px;
}
.text3{
	padding-top: 1%;
	padding-bottom: 2%;
	font-size: 12px;
}
.slider.slider-horizontal {
  width: 30%;
  height: 20px;
}
#clip2 {
  position: relative;
  width:55%;
  height:200px;
}
#clip3 {
  position: relative;
  width:50%;
  height:190px;
}
.image-container{
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
}
.picture-bottom{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	max-height:100%
}
.cent2 {
	text-align: left;
	vertical-align: top;
	width: 8%;
	}
.size{
	width: 8%;
	font-size: 11px;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#Question {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size: 16px;
}
#Paragraph {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#empty {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size: 20px;
	padding-bottom:2%;
}
.griditem {
	text-align: left;
	width: 30%;
	font-size: 13px;
	}
.griditema {
	text-align: left;
	width: 45%;
	font-size: 13px;
	padding-top: 2.5%;
	}
.griditem1 {
	text-align: center;
	width: 40%;
	font-size: 13px;
	}
.griditem2 {
	text-align: center;
	width: 12%;
	font-size: 13px;
	}
.griditem2 {
	text-align: center;
	width: 10%;
	font-size: 13px;
	}
.griditem2b {
	text-align: center;
	width: 15%;
	font-size: 13px;
	}
.griditem3 {
	text-align: center;
	width: 16%;
	font-size: 13px;
	}
.griditem3a{
	text-align: center;
	width: 15%;
	font-size: 13px;
	}
.griditem3b {
	text-align: center;
	width: 10%;
	font-size: 13px;
	}
.griditem4 {
	text-align: left;
	width: 15%;
	font-size: 13px;
}
.griditem5 {
	text-align: center;
	width: 8%;
	font-size: 13px;
}
.griditem6 {
	text-align: center;
	width: 8%;
	font-size: 13px;
}
.picture1 {
	width:15%;
	height:200px;
	margin: 0px 0px 0px 39%;
	}
.picture2 {
	width:15%;
	height:200px;
	margin: 0px 0px 0px 6%;
}
.picture4 {
	width:15%;
	height:200px;
	margin: 0px 0px 0px 43.5%;
	}
.picture5 {
	width:15%;
	height:200px;
	margin: 0px 0px 0px 0.6%;
}

.picture7{
	 width:100%;
	 height:100px;
	 margin: 0px 0px 0px -0px;
}
.picture8{
	 width:100%;
	 height:100px;
	 margin: 0px 0px -80px 0px;
}
.picture9{
	 width:100%;
	 height:100px;
	 margin: 0px 0px -240px 0px;
}
.picture10{
	 width:30%;	
	 height:203px; 
	 margin: 0px 0px 0px 1%;
}
.picture11{
	 width:35%;	
	 height:164px; 
	 margin: 28px 0px 0px 1%;
}

.cent {
	text-align: center;
	vertical-align: top;
	padding-top: 2.5%;
	}
.cent1 {
	text-align: center;
	vertical-align: top;
	}
.cent2 {
	text-align: left;
	vertical-align: top;
	width: 9%;
	}
.size{
	width: 10%;
	font-size: 13px;
}
.text{
	width: 20%;
	text-align: left;
	font-size: 13px;
}
.text1{
	font-size: 13px;
}
.text2{
	font-size: 13px;
}
.text3{
	padding-top: 1%;
	padding-bottom: 2%;
	font-size: 14px;
}
.slider.slider-horizontal {
  width: 20%;
  height: 20px;
}
#clip2 {
  position: relative;
  width:45%;
  height:200px;
}
#clip3 {
  position: relative;
  width:40%;
  height:190px;
}


.image-container{
	text-align: right; 
	vertical-align: bottom;
}
.picture-bottom{
	right: 0;
	width: 100%;
	width: 80%;
	height:100%
}
